/* latin-ext */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karla/v21/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaHUlKd7c.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karla/v21/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaE0lK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --primary: #008080;
    --secondary: #FFBC42;
    --tertiary: #27213C;
    --dark: #12130F;
    --bright: #F71735;
    --bright-text: #EDFFEC;

}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Karla, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: var(--dark);
}

article#main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

h1 {
    font-size: 1.5em;
    padding: 0.25em 0em;
    margin: 0.25em 0em;
    text-align: center;
    width: 100%;
}

section#project-info {
    width: 20%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--primary);
    padding: 1.2em;
    color: var(--bright-text);
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

section#project-loader {
    width: 100%;
}

div#project-name {
    padding: 1em 0.25em;
    line-height: 1.2em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s linear;
}

section#loading-container {
    width: 100%;
    margin: 0;
    display: none;
}

section#loading-container p {
    margin: auto;
    text-align: center;
    padding: 1.25rem 0rem;
    margin: 0;
}

div#loading-project {
    /* display: none; */
    margin: auto;
    border: 0.75rem solid var(--primary); /* Light grey */
    border-top: 0.75rem solid var(--secondary); /* Blue */
    border-bottom: 0.75rem solid var(--secondary); /* Blue */
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

section#subject-set-loader {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s linear;
}

form#subject-set-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

span.subject-radio-container {
    margin: 0.25em 0.15em;
    width: 100%;
    display: block;
}

label.radio {
    line-height: 2.5em;
    padding: 0.25em 0.75em;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--secondary);
    color: var(--dark);
    cursor: pointer;
    width: 100%;
    display: block;
    box-shadow: inset 0px 0px 0px 0px;

    transition: box-shadow 0.1s ease-in-out;
}

label.radio:hover {
    background-color: var(--bright-text);
    /* color: var(--bright-text); */
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked ~ label {
    box-shadow: inset 0px 0px 0px 0.25rem var(--dark);
}

input[type=submit] {
    width: 5rem;
    line-height: 1.5rem;
    font-family: Karla, Arial, Helvetica, sans-serif;
    background-color: var(--secondary);
    color: var(--dark);
    border: 0px;
    cursor: pointer;
    padding: 0;
    margin: 0.25em 0.15em;
}

input[type=submit]:hover {
    background-color: var(--dark);
    color: var(--bright-text);
}

section#plotter {
    overflow-y: auto;
    margin: 0.25em;
    padding: 0.25em;
    box-sizing: border-box;
}

section#plot-header {
    width: 50%;
    max-width: 50rem;
}

nav#plot-type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav#plot-type span {
    margin: 0px 2em;
}

label.plot-type:hover {
    background-color: var(--tertiary);
    color: var(--bright-text);
}

div.variable-picker-container {
    display: 'none';
}

#plotter {
    width: 100%;
    box-sizing: border-box;
}

#plot-container {
    width: 100%;
}

div#plot {
    min-width: 800px;
    min-height: 700px;
}