<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <!-- <script src="{{ url_for('static', filename='js/jquery.serializejson.js') }}"></script> -->
        <script src="{{ url_for('static', filename='js/dist/bundle.js') }}" defer></script>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>

    <body>
        <article id="main">
            <section id="project-info">
                <section id="project-loader">
                    <h1>Choose a project</h1>
                    <!-- <form id="project-picker">
                        <label for="project-id">Project ID:</label>
                        <input type="text" id="project-id" name="project-id">

                        <input type="submit" value="Submit!">
                    </form> -->
                    <div id="project-picker-container"></div>
                    <div id="project-name"></div>
                </section>

                <section id="subject-set-loader">
                    <h1>Choose a subject set</h1>
                    <!-- <form id="subject-set-picker">
                        &nbsp;
                    </form> -->
                    <div id="subject-set-picker-container"></div>
                </section>

                <section id="choose-plot-container">
                    <section id='plot-header'>
                        <h1>Choose the plot type</h1>
                        <div id="plot-picker-container"></div>
                    </section>
    
                    <section id="variable-picker"></section>
                </section>

                <section id="loading-container">
                    <p>
                        Loading...
                    </p>
                    <div id="loading-project">
                        &nbsp;
                    </div>
                </section>
            </section>

            <section id="plotter">
                <section id="plot-container">
                    <div id="plot"></div>
                    <div id="hover-image"></div>
                </section>
                <section id="images-container">
                    <div id="images"></div>
                </section>
            </section>
            <!-- <div id="tester" style="width:600px;height:250px;"></div> -->
        </article>
    </body>
</html>